section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container-article {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  font-weight: bold;
  color: #ffcc66;
}
