.container-detail {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 3rem;
}

.container-button {
  display: flex;
  justify-content: right;
}

button {
  padding: 3px;
}
