html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #18191a,
    #1f2122,
    #262a29,
    #2f3330,
    #3a3b37
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
