nav {
  margin-top: 0;
  padding-top: 0;
  height: 3rem;
  background-color: #18191a;
  display: flex;
  justify-content: right;
  align-items: center;
}

ul {
  margin-right: 2rem;
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.in-cart {
  background-color: crimson;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.2em 0.5em;
  border-radius: 999px;
  position: absolute;
  top: 1px;
}
